:root {
    --layout-bg-color: #fffffff;
    --layout-font-color: #111111;
    --layout-bg-rev-color: #e2e2e2;
    --layout-font-rev-color: #333333;
    --serif-font: 'Inria Serif', serif;
    --sans-serif-font: 'Libre Franklin', sans-serif;
    --mono-font: 'Inconsolata', monospace;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--layout-bg-color);
    color: var(--layout-font-color);
    font-family: var(--serif-font);
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: auto;
}

main {
    flex: 1;
}

footer {
    flex: 0;
    background-color: var(--layout-bg-rev-color);
    color: var(--layout-font-rev-color);
}

.header {
    margin: 64px 0 72px 0;
}

.header h1 {
    font-size: 285%;
    text-transform: uppercase;
    font-weight: 900;
    font-family: var(--sans-serif-font);
    margin: 0;
}

.header time {
    font-family: var(--mono-font);
    background-color: var(--layout-bg-rev-color);
    color: var(--layout-font-rev-color);
    padding: 4px;
    margin-right: 8px;
    font-size: 80%;
    font-weight: 600;
}

.header time:last-child {
    margin-right: 0;
}


.header time::before {
    font-family: var(--sans-serif-font);
}

.published-at::before {
    content:"publié le";
}

.updated-at::before {
    content:"modifié le";
}

.table-of-contents {
    margin: 32px 0 64px;
}

.table-of-contents ul {
    padding-left: 32px;
    list-style: square;

}

.table-of-contents ul:first-child {
    padding-left: 0;
    list-style: none;
}

.breadcrumb {
    padding-top: 0;
    line-height: 0;
    font-family: var(--mono-font);
}

.breadcrumb > ol {
    list-style-type: none;
    padding-left: 0;
}

.breadcrumb > ol > li {
    display: inline-block;
}

.breadcrumb > ol > li > a {
    text-decoration: none;
}

.breadcrumb > ol > li > a::after {
    display: inline-block;
    content: "/";
    padding: 0 8px;
}



article {
    margin-bottom: 172px;
    font-size: 100%;
}


article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    font-family: var(--sans-serif-font);
    font-weight: 700;
}

article h1 {
    font-size: 240%;
    margin: 64px 0 32px 0;
}

article h2 {
    font-size: 200%;
    margin: 42px 0 24px 0;
}

article h3 {
    font-size: 160%;
    margin: 32px 0 18px 0;
}

article h4 {
    font-size: 130%;
    margin: 28px 0 14px 0;
}

article h5 {
    font-size: 110%;
    margin: 24px 0 12px 0;
}



code {
    font-family: var(--mono-font);
}
