pin-depends: [
  ["yocaml.dev" "git+https://github.com/xhtmlboi/yocaml.git"]
  ["yocaml_unix.dev" "git+https://github.com/xhtmlboi/yocaml.git"]
  ["yocaml_yaml.dev" "git+https://github.com/xhtmlboi/yocaml.git"]
  ["yocaml_markdown.dev" "git+https://github.com/xhtmlboi/yocaml.git"]
  ["yocaml_jingoo.dev" "git+https://github.com/xhtmlboi/yocaml.git"]
]
