pin-depends: [
  ["nightmare.dev" "git+https://github.com/funkywork/nightmare.git"]
  ["nightmare-dream.dev" "git+https://github.com/funkywork/nightmare.git"]
  ["nightmare-tyxml.dev" "git+https://github.com/funkywork/nightmare.git"]
  ["nightmare_js.dev" "git+https://github.com/funkywork/nightmare.git"]
  ["nightmare_js-vdom.dev" "git+https://github.com/funkywork/nightmare.git"]
  ["yourbones.dev" "git+https://github.com/funkywork/yourbones.git"]
  ["yourbones-ppx.dev" "git+https://github.com/funkywork/yourbones.git"]
  ["yourbones_js.dev" "git+https://github.com/funkywork/yourbones.git"]
  ["yourbones_js-beacon.dev" "git+https://github.com/funkywork/yourbones.git"]
]
