:root {
    --font-sans-serif: "Libre Franklin", sans-serif;
    --font-serif: "Inria Serif", serif;
    --font-mono: "Fira Code", monospace;

    --lightest-color: #ffffff;
    --middle-light-color: #bcbcbc;
    --middle-color: #444444;
    --darkest-color: #111111;
    --bg-color: #eeeeee;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-sans-serif);
    background-color: var(--bg-color);

    /* Overall layout structure. The aim is not to nest all the CSS in
       these blocks but to provide the overall logic of the layout (which
       is very simple) in a single place. */

    & > header,
    & > footer {
        flex: none;
    }

    & > main {
        flex: 1 0 auto;
    }

    & > footer {
        background-color: var(--darkest-color);
        color: var(--lightest-color);

        & a:not(:has(svg)) {
            text-decoration: none;
            color: var(--lightest-color);
            border-bottom: 1px dotted var(--lightest-color);
        }
    }

    & > main > div,
    & > header > div,
    & > footer > div {
        width: min(1024px, 100%);
        margin: 0 auto;
        padding: 0.2rem 1.2rem;
    }
}

#header-content {
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    gap: 1rem;
    align-items: center;

    & > div:last-child {
        flex: 1;
        font-family: var(--font-mono);
        font-size: 1.2rem;
    }

    & nav.breadcrumb {
        & > a {
            text-decoration: none;
            color: var(--darkest-color);
            font-weight: 400;
        }

        & > a:not(:first-child)::before {
            content: "/";
            display: inline-block;
            color: var(--middle-light-color);
            margin-right: 0.4rem;
            font-weight: 900;
        }
    }

    & h3 {
        font-weight: 900;
        font-size: 1.5rem;
        text-transform: uppercase;
        background-color: var(--darkest-color);

        & a {
            text-decoration: none;
            padding: 0.3rem;
            color: var(--lightest-color);
        }
    }
    
}

#main-content {
    margin-bottom: 4rem;
}


#footer-content {
    margin-top: 4rem;
    margin-bottom: 2rem;


    & section {
        & h3 {
            font-size: 1.2rem;
            font-weight: 700;
            text-transform: uppercase;
        }

        & p {
            margin-top: 1rem;
        }

        & nav {
            margin-top: 1rem;

            & a {
                display: inline-block;
            }

            & svg {
                width: 1.5rem;
            }
        }

        & .btn {
            background-color: var(--lightest-color);
            color: var(--darkest-color);
            font-size: 1rem;
            font-weight: 700;
        }
    }

    & > div:first-child {
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
        gap: 2rem;
        justify-content: center;
    }

    & > div:last-child {

        padding-top: 1.5rem;
        border-top: 1px solid var(--middle-color);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
        gap: 2rem;


        & svg {
            display: inline-block;
            width: 2rem;
        }

        & > div > a {
            font-weight: 700;
            border-style: none;
        }

        & > div:last-child {
            text-align: right;
        }
        
    }
}

.set {

    & > * {
        margin-left: 0.5rem;
    }

    & > :first-child {
        margin-left: 0;
    }
}

.stack {
    & > * {
        margin-top: 2rem;
    }

    & > :first-child {
        margin-top: 0;
    }
}

.svg-light {
    & svg {
        fill: var(--lightest-color);
    }
}

.svg-cc-light {
    /* Since the icon does not rely on path... */
    & circle {
        fill: var(--lightest-color);
    }
}


.btn {
    display: inline-block;
    padding: 0.1rem 0.5rem;
    border-radius: 0.4rem;
    background-color: var(--darkest-color);
    color: var(--lightest-color);
    font-family: var(--font-sans-serif);
    text-decoration: none;
}


@media all and (max-width: 860px) {

    #footer-content {
        & > div:last-child > div:first-child,
        & > div:last-child > div:last-child {
            text-align: center;
        }

        & > div:last-child > div:first-child svg {
            display: block;
            margin: 1rem auto;
        }
    }

    #header-content {
        flex-direction: column;
        align-items: start;
    }

}
