*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    
}

html, body {
    height: 100%;
}

body {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    min-height: 100vh;
    min-height: 100dvh;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
