{%- autoescape false -%}
{{ yocaml_body }}
{%- endautoescape -%}

{%- set addr_repr = address + ", " + zipcode + " " + city + ", " + country -%}

<section class="address-meta">
  <div>
    <h2>Localisation</h2>
    <a href="https://nominatim.openstreetmap.org/ui/search.html?{{ address_uri }}">
      {%- if has_osm_image -%}
      <img src="/images/maps/{{ osm_image.url }}" alt="Carte {{ addr_repr }}">
      {%- endif -%}
      <span>{{ addr_repr }}</span>
    </a>
  </div>

  {%- if has_indexes -%}
  <div>
    <h2>Liens</h2>
    <nav class="nav-enum">
      <ul>
        {%- for index in indexes -%}
        {%- for link in index.links -%}
        <li>
          <a href={{ link.url.url }}>{{ link.title }}</a>
        </li>
        {%- endfor -%}
        {%- endfor -%}
      </ul>
    </nav>
  </div>
  {%- endif -%}
</section>
