{%- if has_page_title -%}
{%- set layout_title = config.main_title + " - " + page_title -%}
{%- else -%}
{%- set layout_title = config.main_title -%}
{%- endif -%}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/capsule.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>{{ layout_title }}</title>
  </head>
  <body>
    <header>
      <div>header</div>
    </header>
    <main>
      <div>
        {%- autoescape false -%}{{ yocaml_body }}{%- endautoescape -%}
      </div>
    </main>
    <footer>
      <div>footer</div>
    </footer>
  </body>
</html>
