{%- autoescape false -%}
{{ yocaml_body }}
{%- endautoescape -%}


<section class="logs-summary">

  <p>
    Journaux du <time>{{ min_date.repr.date }}</time> au
    <time>{{ max_date.repr.date }}</time>, pour un total
    de <time>~{{ total_duration.repr }}</time>.
  </p>
  
  
  <div class="global-view">
    {%- if has_projects -%}
    <div>
      <h3>Projets</h3>
      <div>
        {%- for project in projects -%}
        <div>
          <span>{{ project.key }}</span>
          <time>~{{ project.value.repr }}</time>
        </div>
        {%- endfor -%}
      </div>
    </div>
    {%- endif -%}
    <div>
      <h3>Secteurs</h3>
      <div>
        {%- for sector in sectors -%}
        <div>
          <span>{{ sector.key }}</span>
          <time>~{{ sector.value.repr }}</time>
        </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>
