<h1>{{ page_title }}</h1>
{%- if has_publication_date -%}
<div class="set publication-date">
  {%- if has_published_date -%}
  <time data-prefix="publié le" datetime="{{ published_at.repr.datetime }}">{{published_at.repr.date}}</time>
  {%- endif -%}
  {%- if has_updated_date -%}
  <time data-prefix="modifié le" datetime="{{ updated_at.repr.datetime }}">{{updated_at.repr.date}}</time>
  {%- endif -%}
</div>
{%- endif -%}

<article>
  {%- autoescape false -%}
  {{ synopsis }}
  {%- endautoescape -%}
</article>

{%- if has_toc -%}
<section class="toc">
  {%- autoescape false -%}
  {{ toc }}
  {%- endautoescape -%}
</section>
{%- endif -%}

<article>
  {%- autoescape false -%}
  {{ yocaml_body }}
  {%- endautoescape -%}
</article>

