<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>xvw - {{ html_title }}</title>
    <meta name="description" content="{{ html_meta_description }}" />
    <meta name="keywords" content="{{ html_meta_keywords }}" />
    <meta name="author" content="Xavier Van de Woestyne" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="og:title" content="{{ html_title }}" />
    <meta name="og:description" content="{{ html_meta_description }}" />
    <meta name="twitter:title" content="{{ html_title }}" />
    <meta name="twitter:description" content="{{ html_meta_description }}" />
    <meta name="twitter:creator" content="@vdwxv" />
    {%- if has_cover -%}
    <meta name="og:image" content="https://xvw.lol{{ cover }}" />
    <meta name="twitter:image" content="https://xvw.lol{{ cover }}" />
    {%- endif -%}
    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="stylesheet" href="/css/hl.css" />
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="alternate" type="application/atom+xml" href="/atom.xml" />
    <link rel="alternate" type="application/atom+xml" href="/journal.xml" />
    <link rel="alternate" type="application/atom+xml" href="/pages.xml" />
    <link rel="alternate" type="application/atom+xml" href="/addresses.xml" />
    <script src="/js/hell.js"></script>
    <script src="/js/capsule_client.bc.js"></script>
  </head>
  <body>
    <main class="container">
      {%- autoescape false -%}{{ body }}{%- endautoescape -%}
    </main>
    <footer>
      <div class="container">
        <div>
          <p>
            <a href="https://ring.muhokama.fun">Webring Muhokama</a><br />
            <a class="wb-btn" href="https://ring.muhokama.fun/u/xvw/pred"
              >Précédent</a
            >
            |
            <a class="wb-btn" href="https://ring.muhokama.fun/u/xvw/succ"
              >Suivant</a
            >
          </p>
        </div>
        <div>
          <p>
            Diffusé sous licence
            <a href="https://creativecommons.org/licenses/by-sa/4.0/">
              <strong>CC BY-SA</strong>
            </a>
          </p>
          <p>
            Honteuseument généré par
            <a href="https://github.com/xhtmlboi/yocaml">
              <strong>YOCaml</strong>
            </a>
          </p>
          <p class="feed-icons"><a href="/feeds.html">⛰</a></p>
        </div>
      </div>
    </footer>
    <script>
      nightmare_js.suspend(function () {
        capsule_hljs.run();
      });
      nightmare_js.mount();
    </script>
  </body>
</html>
