<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>xvw - {{ html_title }}</title>
    <meta name="description" content="{{ html_meta_description }}">
    <meta name="keywords" content="{{ html_meta_keywords }}">
    <meta name="author" content="Xavier Van de Woestyne">
    <link rel="stylesheet" href="/capsule/css/fonts.css">
    <link rel="stylesheet" href="/capsule/css/hl.css">
    <link rel="stylesheet" href="/capsule/css/default.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/capsule/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/capsule/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/capsule/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="/capsule/favicon.ico">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>
    <main class="container">
      {%- autoescape false -%}{{ body }}{%- endautoescape -%}
    </main>
    <footer>
      <div class="container">
        <p>
          Diffusé sous licence
          <a href="https://creativecommons.org/licenses/by-sa/4.0/">
            <strong>CC BY-SA</strong>
          </a>
        </p>
        <p>
          Honteuseument généré par
          <a href="https://github.com/xhtmlboi/yocaml">
            <strong>YOCaml</strong>
          </a>
        </p>
      </div>
    </footer>
    <script src="/capsule/js/hl.js"></script>
    <script>hljs.highlightAll();</script>
  </body>
</html>
