<section class="synopsis">
  {%- autoescape false -%}{{ synopsis }}{%- endautoescape -%}
</section>

{%- if display_toc -%}
<section class="table-of-contents">
  {%- autoescape false -%}{{ toc }}{%- endautoescape -%}
</section>
{%- endif -%}

<article>{%- autoescape false -%}{{ body }}{%- endautoescape -%}</article>

{%- if has_comment_thread -%}
<hr />
<section class="page-comment-widget">
  <h1>Commentaires</h1>
  <p>
    Comme mon site web est hébergé sur un serveur de fichiers statiques (et ne
    dispose pas de base de données), les commentaires sont assurés par le
    <i>Fediverse</i>. Si vous possédez un compte, par exemple <i>Mastodon</i>,
    <strong>vous pouvez donc commenter</strong> cet article en en répondant à ce
    <a
      href="https://{{ mastodon_thread.instance }}/@{{ mastodon_thread.user }}/{{ mastodon_thread.id }}"
      >fil de discussion</a
    >!
  </p>
  <script>
    nightmare_js.suspend(function () {
      capsule_widgets.mountComments(
        "comments-thread",
        "{{ mastodon_thread.instance }}",
        "{{ mastodon_thread.user }}",
        "{{ mastodon_thread.id }}"
      );
    });
  </script>
  <div id="comments-thread"></div>
</section>
{%- endif -%}
