<section class="header">
  <nav class="breadcrumb">
    <ol>
      <li>
        <a href="/">Accueil</a>
      </li>
      {%- for link in breadcrumb -%}
      <li>
        <a href="{{ link.href }}">{{ link.name }}</a>
      </li>
      {%- endfor -%}
    </ol>
  </nav>

  <h1>{{ title }}</h1>
  {%- if has_creation_date -%}
  <time class="published-at" datetime="{{ creation_date.canonical }}">
    {{ creation_date.canonical }}
  </time>
  {%- endif -%}
  {%- if has_update_date -%}
  <time class="updated-at" datetime="{{ update_date.canonical }}">
    {{ update_date.canonical }}
  </time>
  {%- endif -%}
</section>


<section class="synopsis">
  {%- autoescape false -%}{{ synopsis }}{%- endautoescape -%}
</section>

{%- if display_toc -%}
<section class="table-of-contents">
  {%- autoescape false -%}{{ toc }}{%- endautoescape -%}
</section>
{%- endif -%}

<article>
  {%- autoescape false -%}{{ body }}{%- endautoescape -%}
</article>
