name: Pfiouuuuuuuu
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: 4.14.x
          opam-depext-flags: --with-test

      - run: opam install . --deps-only --with-doc --with-test
      - run: opam install yocaml
      - run: opam install yocaml_unix yocaml_yaml yocaml_jingoo
      - run: opam exec -- dune exec src/capsule.exe -- build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: ./www/
          publish_branch: gh-pages
          enable_jekyll: false
